@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body.noscroll {
    margin: 0;
    height: 100%;
    overflow: hidden
}

main {
    max-width: 72em;
    margin: 2em auto;
    padding: 0 1em;
    position: relative;
}

h1 {
    margin: 0;
    font-weight: 600;
    font-size: 2.1em;
}

button {
    background: none;
    border: 0;
    color: inherit;
    cursor: pointer;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
}

.grid-controls {
    margin: 2em 0 1.5em 0;
    border-bottom: 1px solid #e6e8eb;
    padding-bottom: 1em;
    width: 100%;
    display: flex;
    align-items: center;
}

.grid-controls ul {
    padding: 0;
    margin: 0;
}

.grid-controls li {
    cursor: pointer;
}

.layout {
    margin-left: auto !important;
    display: flex;
    align-items: center;
}

.layout li {
    display: inline;
    margin-left: 1.3em;
    fill: #b5b4b4;
}

.layout li.active {
    display: inline;
    margin-left: 1.1em;
    fill: #000;
}

.layout li.active svg {
    transform: rotate(90deg);
}

.grid-controls ul.lay-out {
    margin-left: auto;
}

.categories li {
    display: inline;
    margin-right: 1.2em;
    font-size: 1.05em;
    font-weight: 400;
    color: #8a8a8a;
}

.categories li.active {
    color: #000;
}

.grid-item {
    overflow: hidden;
    position: relative;
}

.grid-item, .grid-sizer {
    width: calc(33.333333333% - 7px);
    margin-bottom: 10px;
    float: left;
}

@media(max-width: 1068px) {
    .grid-item, .grid-sizer {
        width: calc(33.333% - 8px);
    }
}

@media(max-width: 768px) {
    .grid-item, .grid-sizer {
        width: calc(50% - 8px);
    }
}

@media(max-width: 500px) {
    .grid-item, .grid-sizer {
        width: calc(100% - 8px);
        margin-bottom: 1em;
    }
}

.grid-item img {
    display: block;
    max-width: 100%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.grid-item>section {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    color: #fff;
    transition: opacity 0.3s ease;
}

.user-img {
    border-radius: 50%;
    align-self: center;
    outline: none;
    display: none !important;
}

.text-wrapper p {
    margin: 0;
}

.grid-item .detail-wrapper {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 1em;
    display: flex;
}

.user-name {
    font-size: 2em;
}

.date {
    font-size: 1em;
    opacity: 0.8;
}

.like-icon {
    width: 1.4em;
    height: 1.4em;
    position: absolute;
    right: 1em;
    top: 1em;
}

.grid-item:hover {
    cursor: zoom-in;
}

.grid-item:hover>section, .grid-item:focus>section {
    opacity: 1;
}

.slider {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.68);
    display: none;
}

.slider.active {
    display: flex;
}

.slider>section {
    max-width: 73em;
    margin: auto;
    width: 100%;
    height: 95%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-color: #fff;
    position: relative;
}

.slider header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 4em;
    display: flex;
    align-items: center;
    padding: 0 1.3em;
}

.slider img {
    overflow: hidden;
    max-width: 100%;
    max-height: 80%;
    display: block;
    pointer-events: none;
    cursor: default;
    z-index: 1;
}

.slider-controls {
    position: absolute;
    width: 100%;
    z-index: 2;
}

.user-details {
    display: flex;
}

.slider-profile-img {
    border-radius: 50%;
    margin-right: 0.8em;
    align-self: center;
}

.slider-date {
    color: #8a8a8a;
}

.slider-user-name {
    font-weight: 600;
}

.user-details p {
    margin: 0;
}

.close-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    outline: none;
}

.close-button span {
    margin-top: 4px;
    display: none;
}

.next-button, .prev-button {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    outline: none;
}

.next-button {
    right: 1em;
}

.prev-button {
    left: 1em;
}

.next-button span {
    margin-right: 7px;
    display: none;
}

.prev-button span {
    margin-left: 7px;
    display: none;
}

.slider footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4.3em;
    display: flex;
    align-items: center;
    padding: 0 1.3em;
}

.start-slideshow, .stop-slideshow {
    padding: 0.5em 1.6em;
    border: 1px solid #000;
    color: #000;
    border-radius: 2px;
    min-width: 12em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-slideshow svg, .stop-slideshow svg {
    margin-right: 7px;
}

.start-slideshow.hidden, .stop-slideshow.hidden {
    display: none
}

.slider-like-button {
    display: flex;
    align-items: center;
    margin-right: 1em;
    width: 3em;
}

.slider-like-button span {
    margin-left: 0.5em;
}

.img-index {
    margin-left: auto;
}

.grid-item:focus>img, .grid-item:hover>img {
    transform: scale(1.1);
}

.loader {
    display: none;
    border: 6px solid #f3f3f3;
    border-top: 6px solid #000;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 0.8s linear infinite;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1
    /* Hide text */
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
}

.loader.active {
    display: block;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
