@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body.noscroll {
    margin: 0;
    height: 100%;
    overflow: hidden
}

main {
    max-width: 72em;
    margin: 2em auto;
    padding: 0 1em;
    position: relative;
}

h1 {
    margin: 0;
    font-weight: 600;
    font-size: 2.1em;
}

button {
    background: none;
    border: 0;
    color: inherit;
    cursor: pointer;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
}
